body {
  font: 1em helvetica, arial, sans-serif;
  background-color: #fff;
  color: #111;
}
.navbar{
  background-color: aqua;
  width: 100%;
  position: sticky;
  top:0em;
  display: flex;
  
}ul{
  display: flex;
}

li{
padding: 0.5em;
color:red;
}
.story {
  padding: 0 1em;
  margin-top: 8em;
}
.marked-link{
  color: yellow;
}
/* The sticky class is added to the header with JS when it reaches its specific section */
.sticky {
  position: fixed;
  top: 1em;
  width: auto;
  background: #555;
  color: #f1f1f1;
}